/*---Base Styles---*/
* {
    box-sizing: border-box;
}

body{
    font-family: 'Assistant', sans-serif;
}

form{
    display: flex;
    flex-direction: column;
}

fieldset{
    border: none;
}
/*---Display Styles---*/
.main-header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 15px;
    
}

.main-header h1 {
    background-color: grey;
    color: white;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

.main-header h2 {
   padding-top: 1em;
   size: 16px;
   color: darkgray;
}

.main-header h3 {
    color: lightgray;

}

.wrapper{
    width:60%;
    margin: auto;
    background-color: lightgreen;
    
}

.first { 
    border: solid 3px black;
    margin: 0;
}

.second {
    border: solid 2px black;
    margin-top: 2.5px;
}
.information{
    display: flex;
    flex-direction: column;
 }

.info_label{
    text-align: left;
}

.info_input{
    display: flex;
    flex-direction: row;
    padding-top: 5px;
    padding-bottom: 10px;
    width: 80%; 
}

.third{
    border: solid 2px black;
    width:99% ;
  
}
/*---Clearfix---*/
.group:after {
    content: "";
    display: table;
    clear: both;
}

/*---Media queries---*/

@media (min-width: 768px){
    .information_input{
        display: flex;
        flex-direction: row;
        padding: 5px 0 5px 0;
        justify-content: space-between;
        
    }

    .information label{
        flex: 0 0 150px;
    }
}

@media (min-width: 1024px){
    
}